.backToFormButton {
  background-color: #36C2CE;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.saveDataButton {
  background-color: #77E4C8;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.message {
  margin-top: 10px;
  padding: 10px;
  background-color: #d4edda; /* Greenish background for messages */
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  color: #155724;
}

.hotelTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Example margin */
}

.hotelTable th,
.hotelTable td {
    padding: 10px;
    text-align: left;
}

.hotelTable th {
    background-color: #CAF4FF; /* Light gray background for headers */
}

.hotelTable tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row colors */
}

.hotelTable tbody tr:hover {
    background-color: #e0e0e0; /* Hover effect for rows */
}

.booking-details {
    display: flex;
    flex-wrap: wrap;
}

.booking-details .detail-item {
    margin-right: 20px;
    font-size: 16px;
}

.errorMessage {
  margin-top: 10px;
  padding: 10px;
  background-color: #FF6969;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  color: #FCF8F3;
}


